body {
  font-family: "anago", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #EEEEEE;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  
}

#footer {

  width: 33%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listFont {

  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  font-size: x-large;
  font-style: normal;
  color: #000;
}

.scandiaBold {
  font-family: "scandia-web", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.atramentMed {

  font-family: "atrament-web", sans-serif;
  font-size: x-large;
  font-weight: 500;
  font-style: normal;
}

#menu ul {



  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex
}

/* Custom Navbar Colors */
.navbar-custom {
  background-color: #fff;
  /* Replace with your desired background color */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #393E46;
  /* Replace with your desired text color */
}

.navbar-custom .navbar-toggler-icon {
  background-color: #fff;
  /* Replace with your desired color for the toggler icon */
}

.navbar-custom .navbar-toggler {
  border-color: #187498;
  /* Replace with your desired border color for the toggler button */
}

.containerTop {

  background-color: #FF8551;

  padding: 10%;

}

.card {

  border-radius: 5%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerLink {

  color: white;
  text-decoration: none;
}







.btn-outline {

  padding: 15px 45px;
  height: 3rem;
  width: 12rem;
  font-size: smaller;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 0.25rem solid #F24C3D;
  transition: 0.5s;
  background-size: 200% auto;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  font-size: small;
  font-style: normal;
  color: #000;
  color: #393E46;
  box-shadow: 0 0 20px #eee;
  text-decoration: none;

  border-radius: 10px;
  display: block;
}

.btn-outline:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #F2BE22;
  background-color: #187498;
  border: transparent;
  text-decoration: none;

}

.c-right {

  color: lightgray;
  font-style: italic;
  font-size: smaller;
  text-align: center;

}

#icons-footer {

  text-align: center;
  color: #eee;
  
}



.b-container {
 
  margin: 0;
  padding: 15px 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 44%;
  height: 9%;

  display: flex;
  justify-content: center;
  -ms-flex-item-align: center;
  align-items: center;

  background-color: transparent;

}


  @keyframes rotate {
    from {
     transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }

  }

  .box {
    box-shadow: 0 0 20px #eee;
    padding: 15px 45px;
    width: 44%;
    height:9%;
    display: flex;
    justify-content: center;
    -ms-flex-item-align: center;
    align-items: center;
    background-color:transparent;
    border: 5px solid #000;
    border-radius: 10px;
    
    position: absolute;
 z-index: 3;
  overflow: hidden;



  }

  .box h2 {

    color: black;
    font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 700;
  font-size: small;
    position: absolute;
  z-index: 2;
   
   

  }

 
  


 .box:hover::before {

  content: "";
  position: absolute;
  width: 300%;
  height: 200%;
  
  background: linear-gradient(#000, #393E46);
  animation: rotate 4s 0.5 linear;

 


 }

 .box:hover::after{

  content: "";
  position: absolute;
  background-color: white;
  inset: 1px;
  border-radius: 5px;

 }

 

.footerFont {
  text-align: start;
  color: #E6E7E8;
}

  .footerFont h1 {

    font-family: "atrament-web", sans-serif;
  font-weight: 500;
  font-style: normal;

  }

  .footerFont h3 {


    font-family: "atrament-web", sans-serif;
  font-size: x-large;
  font-weight: 500;
  font-style: italic;

  }




  /* .container {

    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: center;
    width: 33%;
    background-color: #F2BE22;
  } */

  /* .pictures, .polaroid1, .polaroid2, .polaroid3 {
grid-template-rows: repeat(3, 1fr);
    grid-row: 1/3;
  } */

  /* .pictures{

    width: 100%;
  
    align-content: center;
  } */

  /* *,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
} */



/* .slider-wrapper {
  padding-top: 7%;
  padding-bottom: 7%; */
	/* position: relative;
  background-color:#FFF1DC;
}

.slider {
  

  
	--slide-width: clamp(320px, 75vw, 800px);
	--slide-height: clamp(240px, 75vh, 600px);

	display: grid;
	grid-auto-flow: column;
	scroll-snap-type: x mandatory;
	max-width: var(--slide-width);
  

  border-radius: 5%;
	box-shadow: 0 2px 15px rgba(#000, 0.2), 0 2px 20px rgba(#000, 0.25);
	overflow-y: hidden;
	overflow-x: auto;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.slide {
	scroll-snap-align: start;
	width: var(--slide-width);
	height: var(--slide-height);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  
}

.dots {
	position: relative;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	gap: 15px;
	z-index: 5;

	display: flex;
	align-items: center;
	justify-content: center;

	a {
		size: 8px;

		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #9BCDD2;
		opacity: 0.75;
		transition: opacity ease 250ms;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}
}

.caption {
	display: block;
	
	color: #999;
	letter-spacing: 0.5px;
  text-align: center;
  z-index: 5;
} */

*{
  margin: 0;
  padding: 0;
}

.container{
  position: relative;
 padding-top: 7%;
 padding-bottom: 7%;
 ;
 background-color: #187498;
  
}
.container .wrapper{
  width: 50vw;
  height: 75vh;
  aspect-ratio: 1/1;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  margin: 5rem auto;
  overflow: hidden;
 

}
.container .wrapper-holder{
  display: grid;
  grid-template-columns: repeat(4, 100%);
  height: 100%;
  width: 100%;
  
	scroll-snap-type: x mandatory;
  overflow-y: hidden;
	overflow-x: auto;
	scroll-behavior: smooth;

}


.container #slider-img-1{
  background-image: url(../assets/WashingtonFamily2.jpg);
  background-position: center;
  scroll-snap-align: start;
}
.container #slider-img-2{
  background-image: url(../assets/NDMDrummer2.jpg);
  background-position: center;
  scroll-snap-align: start;
}
.container #slider-img-3{
  background-image: url(../assets/NDMCongregation.jpg);
  background-position: center;
  scroll-snap-align: start;
}
/* .container #slider-img-4{
  background-image: url(../assets/WashingtonFamily2.jpg);
  background-position: center;
} */
.container .button-holder .button{
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: inline-block;
  margin: .3rem;
}
.container .button-holder{
  position: absolute;
  left: 45%;
  bottom: 20%;
}
.button:hover{
  box-shadow: 0px 0px 7px 4px rgba(0, 255, 255, 0.6);
}
@keyframes slider{
  0%{transform: translateX(0%);}
  10%{transform: translateX(-100%);}
  20%{transform: translateX(-100%);}
  30%{transform: translateX(-200%);}
  40%{transform: translateX(-200%);}
  50%{transform: translateX(-200%);}
  60%{transform: translateX(-300%);}
  70%{transform: translateX(-300%);}
  80%{transform: translateX(-300%);}
  90%{transform: translateX(-100%);}
  100%{transform: translateX(-100%);}
}

*, *::before, *::after {

  box-sizing: border-box;

}

.img-section {

  width: 100svw;
  height: auto;
  background-color: #00ccff;
}


.carousel > ul {

  margin: 0;
  padding: 0;
  list-style: none;

}

.carousel {
/* grandpa */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  width: 100svw;
  max-height: 100svh;
  height: auto;

background-color: #F24C3D;
}

.child-container {

  grid-column: 1/2;
  grid-row: 1/1;
  height: 100svh;
  width: auto;
}

.slide {

  /* brother */
  
  padding: 10%;
  

  opacity: 0;
transition: 200ms opacity ease-in-out;
transition-delay: 200ms;

}

.slide > img {

  
  width: 100%;
min-width: 250px;
  height: auto;
  border-radius: 5%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {

opacity: 1;
z-index: 1;
transition-delay: 0ms;

}

.carousel-button {

  position: absolute;
 
  z-index: 2;
  background: none;
  border: none;
  height: 15%;
  width: 10%;

  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {

  color: white;
  background-color: rgba(0, 0, 0, 0.2);

}

.carousel-button:focus {

  outline: 1px solid black;

}

.carousel-button.prev {

 
  left: 12.5%;
margin: 12.5%, 25%;
}

.carousel-button.next {

  right: 62.5%;
  margin: 25%, 12.5%;
  
}

.about-container {

  /* sister */
  background-color: #FF8551;
  padding: 10%;
  width: 100%;
  height: auto;


}

.donate-section {

  /* Grandpa */
  width: 100svw;
  height: auto;
  background-color: #393E46;
 

  
}

.donate-container {

  /* Parent */
  position: relative;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr;
 height: auto;
  width: 66.6svw;
  min-width: 400px;
  
  
  
  background-color: #22A699;
  border-radius: 7%;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);

}

.donate-text-container {
/* Brother */
  position: relative;
  grid-row: 1/1;
  grid-column: 1/1;
font-size: 175%;
text-align: center;
padding: 7%;
  width: 100%;
 
}

.donate-img-container {

  /* Sister */

  position: relative;
padding: 7%;
width: 33.3%;
  /* grid-row: 1/1;
  grid-column: 2/2; */
  
  /* border-radius: 5%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6); */
}

.donate-container > img {
  position: relative;
  /* grid-template-columns: 2/3; */
  width: 100%;
 height: 100%;
  border-radius: 5%;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6); */
  object-fit: cover;
}



.button-new-container {

  
  font-family: "poppins", sans-serif;
  
  display: flex;
  justify-content: center;
align-items: center;
min-height: 33.3%;
min-width: auto;
background-color: transparent;

}

.box-1 {

  position: relative;
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: #0e1538;
border-radius: 5%;
overflow: hidden;
}

.box-1 h2 {

  color: rgb(226,226,226);
  text-shadow: 2px, 2px, black;
  font-size: 300%;
  z-index: 2;
  
}

.box-1::before {

  content: "";
  position: absolute;
  width: 40%;
  height: 280%;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotate1 4s linear infinite;

}

.box-1::after {

  content: "";
  position: absolute;
  background: #0e1538;
  inset: 2.5%;
  border-radius: 5%;
}

@keyframes rotate1 {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.donate-button-size {
position: relative;
  padding-top: 7%;
padding-bottom: 7%;




}